[submodule "tobyspringin5"]
	path = tobyspringin5
	url = https://github.com/jdalma/tobyspringin5
[submodule "java-to-kotlin"]
	path = java-to-kotlin
	url = https://github.com/jdalma/java-to-kotlin
[submodule "object"]
	path = object
	url = https://github.com/jdalma/object.git
[submodule "tdd"]
	path = tdd
	url = https://github.com/jdalma/tdd.git
